footer {
  background-color: #000;
  color: #fff;
  padding: 40px 20px 20px;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
}

.footer-content {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.footer-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-left img {
  width: 130px;
  height: auto;
  margin-bottom: 10px;
}

.footer-left h1 {

  font-size: 0.4rem;
  font-weight: lighter;
  margin-bottom: 20px;
  margin: 0;
  color: #fff;
}

.social-icons {
  display: flex;
  gap: 20px;
}

.social-icons a {
  color: #000;
  font-size: 1.2rem;
  background-color: #fff;
  border-radius: 50%;
  padding: 10px;
  width: 20px;
  height: 20px;
  transition: color 0.3s;
  justify-content: center;
  align-items: center;
}

.social-icons a:hover {
  color: #FF6565;
}

footer .copyright {
  font-size: 0.875rem;
  color: #aaa;
  margin-top: 10px;
}
